/* -------------------------------------------------------------------------------------------------
 Customizations
-------------------------------------------------------------------------------------------------*/






// PAGE FORMATS

// Default Styles

#sidebar {
	background-color: #f5f5f5;
	padding: 25px;

	.widget-title {
		@include fw300;
	}
}

.post-title {
	color: $aqua-dark;
	border-bottom: none;
	@include fw300;
}

// About Main

.page-template-template-about-main-php {
	.trip-tile {
		min-height: 150px;

		&.gold {
			&:hover {
				background: lighten($gold,5%);
			}
		}
		&.coral {
			&:hover {
				background: lighten($coral,5%);
			}
		}
		&.navy {
			&:hover {
				background: lighten($navy,5%);
			}
		}
		&.aqua {
			&:hover {
				background: lighten($aqua,5%);
			}
		}

		span.tile-title {
			text-align: center;
			display: block;
			padding-top: 48%;
			padding-bottom: 48%;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			color: $white;
			text-transform: uppercase;
			opacity: 1;
		}
	}
}


// Staff Page


 .staff-tiles, .ministry-tiles {
	 .staff {
		 @include transition;
		 .btn-primary {
				 background: $aqua-light;
				 &:hover {
					 @include transition;
					 background: $coral;
				 }
			 }

		 .thumbnail {
			 @include border-radius (0px);
			 background: darken($white,2%);
			 border-left: 0px;
			 border-top: 0px;
			 border-right: 0px;
			 border-bottom: 3px solid darken($white,8%);
			 padding: 0px;
			 .caption {
				 p {
					 padding-bottom: 10px;
				 }
				 h3 {
					 color: $aqua;
					 font-size: 30px;
					 margin-bottom: 0px;
					 margin-top: 5px;

				 }
				 .job-title {
					 font-size: 20px;
					 margin-bottom: 0px;
					 padding-bottom: 0px;
				 }
				 .social-icons {
					 a {
						 margin: 3px;
						 .fa {
							 color: $aqua-light;
							 &:hover {
								 color: $gold-light;
							 }
						 }
					 }
				 }
			 }

			 img {
				 width: 100%;
				 padding-bottom: 10px;
				 filter: url('filters.svg#grayscale');
				/* Firefox 3.5+ */
				filter: gray;
				/*IE6-9 */
				-webkit-filter: grayscale(1);
				/* Google Chrome, Safari 6+ & Opera 15+ */

			 }
			 &:hover {
				 background: $aqua;

			 img {
				filter: none;
				-webkit-filter: grayscale(0);
			 }

				 .caption {
				 	color: $white;
				 	.text-muted {
					 	color: $navy;
				 	}
				 	.btn-primary {
					 	color: $white;

				 	}
				 	h3 {
					 	color: $white;
				 	}
				 }
			 }
		 }
		 .new-banner {
			 display: none;
		 }
		 &.new {

			 .new-banner {
				 display: block;
				 background: $coral;
				 color: $white;
				 text-align: center;
				 padding-top: 5px;
				 padding-bottom: 5px;
			 }
		 }
	 }
 }

 .staff-tiles {
	 .item {
		 width: 33%;

		 min-width: 200px;
		 float: left;
		 padding: 7px;

		 @media (max-width: 480px) {
		 	width: 100%;
		 	min-width: 130px;
		 	max-width: 100%;
		}
		.bottom-buttons {
			 .full-width {
				 padding: 5px;
			 }
		 }
	 }
	}

	.job-tiles {
	 .item {
		 width: 48%;
		 min-width: 200px;
		 float: left;
		 padding: 7px;
		 text-align: center;
		 background-color: $gold-light;
		 margin: 5px;
		 padding: 15px;
		 &:hover {
			 background-color: $aqua;
			 color: $white;
		 }

		 .job-title {
			 text-transform: uppercase;
			 font-weight: bold;
		 }

		 @media (max-width: 480px) {
		 	width: 100%;
		 	min-width: 130px;
		 	max-width: 100%;
		}

		.contact {
			margin-top: 20px;
			.btn {
				background: $gold;
				text-transform: uppercase;
			}
		}

	 }
	}

	.ministry-tiles {
	 .item {
		 width: 33%;

		 min-width: 200px;
		 float: left;
		 padding: 7px;

		 @media (max-width: 480px) {
		 	width: 100%;
		 	min-width: 130px;
		 	max-width: 100%;
		}
		.img-wrapper {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			filter: url('filters.svg#grayscale');
				/* Firefox 3.5+ */
				filter: gray;
				/*IE6-9 */
				-webkit-filter: grayscale(1);
				/* Google Chrome, Safari 6+ & Opera 15+ */
		}
		span.tile-title {
			text-align: center;
			display: block;
			padding-top: 25%;
			padding-bottom: 25%;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			color: $white;
			text-transform: uppercase;
			opacity: 1;
		}
	 }
	}

// The Scoop Page

.page-template-template-the-scoop-php {
	.the-scoop {

		ul#tab-menu {

			li {
				list-style: none;
				float: left;
				padding: 20px 40px;
				background: $coral;
				margin: 5px;
				&.active {
					background: $coral-light;
				}
				&:hover {
					background: darken($coral,5%);
				}
				a {
					color: $white;
				}
			}
		}
	}
}

// Global Initiatives Page

.page-template-template-global-initiatives-php {
	@media (max-width: 480px) {
		.section {
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
		.gi-title {
			margin-left: 0px !important;
		}
	}
	.item {
		padding-bottom: 10px;
		margin-bottom: 30px;
		background: lighten($gray-light,5%);
		padding: 30px;
		border: 5px solid lighten($gray-light,5%);
		border-bottom-color: $gray-light;

		&:hover {
			border: 5px solid $aqua;
			.gi-title {
				border-color: $aqua;
			}
		}

		.gi-title {
			font-size: 24px;
			font-weight: 600;
			color: $coral;
			margin-left: 30px;
			margin-bottom: 20px;
			border-bottom: 2px solid $gray-light;
			text-transform: uppercase;
			.type {
				color: $gray;
				font-style: italic;
				font-size: 18px;
				text-transform: none;
				padding-right: 5px;
			}
		}
		p {
			padding-bottom: 10px;
		}
		.details {
			font-size: 16px;
			padding: 10px 30px;
			.details-title {
				padding-top: 10px;
				border-top: 2px solid $gray-light;
				font-size: 20px;
				font-weight: 600;
			}
			p {
				font-weight: 600;
				padding-bottom: 0px;
				span.heading {
					font-weight: 100;
					font-style: italic;
				}
			}
		}
	}
}

@import "_responsive";
