// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


/* -------------------------------------------------------------------------------------------------
Variables
-------------------------------------------------------------------------------------------------*/



// Colors
$aqua:              	#00B3b0;
$aqua-dark:				#01605e;
$aqua-light:            #a2dadc;
$coral:             	#ef4e24;
$coral-light:           #f26a36;
$gold:             		#ffb12c;
$gold-light:          	#ffc54f;
$navy:            		#004356;
$gray:					#ccc;
$gray-dark:				#666;
$gray-light:			#eee;
$white:					#fff;
$white-off:				#f8f8f8;
$black:					#000000;

// Color Usage

$color-primary: 		$aqua;
$color-secondary:		$coral;
$color-accent: 			$gold;
$color-shadow:			$gray;

$social-color:			$navy;
$social-bg:				$aqua;

$social-hover:			$aqua-light;

// UI Colors

.primary {
	background-color: $color-primary;
}

.secondary {
	background-color: $color-secondary;
}
.accent {
	background-color: $color-accent;
}

.aqua {
	background-color: $aqua;
}

.navy {
	background-color: $navy;
}
.coral {
	background-color: $coral;
}
.gold {
	background-color:$gold;
}

// UI Colors Mixins

@mixin primary {
	background-color: $color-primary;
}

@mixin secondary {
	background-color: $color-secondary;
}
@mixin accent {
	background-color: $color-accent;
}

@mixin aqua {
	background-color: $aqua;
}

@mixin navy {
	background-color: $navy;
}
@mixin coral {
	background-color: $coral;
}
@mixin gold {
	background-color:$gold;
}

// Fonts

@import url('../fonts/chalet.css');

@font-face {font-family: 'Font Awesome';src: url('font/fonts/fontawesome-webfont.ttf') format('truetype');}

@mixin museo {
	font-family: "museo-slab",serif;
}
@mixin proxima {
	font-family: "proxima-nova",Helvetica,sans-serif;
}
@mixin chalet {
	font-family: 'Chalet','Helvetica Neue', Helvetica, sans-serif;
}

// Font Weights

@mixin fw300 {
	font-weight: 300;
}
@mixin fw400 {
	font-weight: 400;
}
@mixin fw500 {
	font-weight: 500;
}
@mixin fw600 {
	font-weight: 600;
}
@mixin fw700 {
	font-weight: 700;
}
@mixin fw900 {
	font-weight: 900;
}

// Social Icons

.social-icon {
	color: $social-color;
	background-color: $social-bg;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 25px;
	height: 25px;
	text-align: center;
	margin-top: 0px;
	display: inline-block;
	padding: 5px;

	&:hover {
		background-color: $social-hover;
	}
}



// Mixins

@mixin drop-shadow {
	box-shadow: 0 0px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0px 10px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0px 10px rgba(0,0,0,.2);
}

@mixin border-radius ($radius: $value ) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	border-radius:         $radius;
}

@mixin opacity ($opacity: $value) {
	-webkit-opacity: 	$opacity;
	-moz-opacity: 		$opacity;
	opacity: 		$opacity;
}

@mixin transition {
	transition: .4s all;
}

// Custom Columns

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
	.col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


@media (min-width: 1200px) {
	.container {
	    width: 1170px;
	}
}

@media (min-width: 992px) {
	.container {
	    width: 970px;
	}
}

@media (min-width: 768px) {
	.container {
	    width: 750px;
	}
}



.visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none !important;
}

@media (min-width: 1200px) {
	.container {
	    width: 1170px;
	}
}

@media (min-width: 992px) {
	.container {
	    width: 970px;
	}
}

@media (min-width: 768px) {
	.container {
	    width: 750px;
	}
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}


@media (min-width: 1200px) {
	.visible-lg {
	    display: block !important;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.visible-md {
	    display: block !important;
	}
}

@media (max-width: 767px) {
	.visible-xs {
    	display: block !important;
	}
}

@media (min-width: 1200px) {
	.hidden-lg {
	    display: none !important;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.hidden-md {
	    display: none !important;
	}
}

@media (max-width: 767px) {
	.hidden-xs {
	    display: none !important;
	}
}

@media (min-width: 768px) {
	.navbar-nav {
	    float: left;
	    margin: 0;
	}
}

// Global

body {
	 @include proxima;
	 @include fw400;
	 color: $navy;
}

h1, h2, h3, h4, h5 {
	color: $aqua-dark;
}

h1, h2, h3, h4 {
	@include museo;
}

h1 {
	font-size: 50px;
	@include fw300;
}
h2 {
	font-size: 44px;
	@include fw300;
}
h3 {
	font-size: 36px;
}
h4 {
	font-size: 28px;
}
h5 {
	@include proxima;
	text-transform: uppercase;
	font-size: 28px;
}

.btn {
	@include border-radius ($radius: 0px);
	@include transition;
	&.btn-primary {
		@include primary;
		color: $white !important;
		border: none;
		@include transition;
		&:hover {
			@include coral;
			@include transition;
		}
	}
	&.btn-secondary {
		@include secondary;
		color: $white !important;
		border: none;
		&:hover {
			@include navy;
			@include transition;
		}
	}
	&.btn-accent {
		@include accent;
		color: $white !important;
		border: none;
		&:hover {
			@include navy;
			@include transition;
		}
	}

}

.row.nomargin {margin: 0px;}
