.orange-bottom-bar {
		height: 50px;
		background-color: $aqua;

		a:hover {
			text-decoration: none;
		}

		.arrow-down {
			width: 0;
			height: 0;
			border-left: 40px solid transparent;
			border-right: 40px solid transparent;
			border-top: 30px solid $coral;
			margin-left: auto;
			margin-right: auto;
			display: block;

		}
}


// Footer

footer {

	.navbar-default {

		padding: 40px 0;
		border: none;
		background-color: #001e26;
		color: $aqua;

		.container {
			align-items: flex-start;

			.row:first-child {
				width: 100%;
				justify-content: space-between;
			}
		}

		.navbar-text, .navbar-nav, .footer-widget {
			color: $aqua-dark;
			text-transform: uppercase;
			font-size: 13px;
			p {
				color: $aqua-dark;
			}
			a {
				color: $aqua;
			}
		}

		.footer-widget {

			.widget {

				h4 {
					font-size: 13px;
					font-weight: bold;
					@include proxima;
				}

				.menu {
					li {
						padding: 1px 0;
					}
				}
			}
		}

		.navbar-right {
			text-align: right;
		}

		.footer-social {
			float: left;

			ul.social-networking-icons {
				flex-direction: row;
			}
		}

	}
	a {
		&:hover {
			color: $gold !important;
		}
	}
	.bottom-footer {
		margin-top: 30px;
	}
	.affiliations {
		.widget {
			height: 70px;
			float: right;
			padding: 5px;
			img {
				height: 100%;
				width: auto;
			}
		}
	}
}
