


header.jumbotron {

	#header-wrapper.container {

		@media (max-width: 1200px) {
				width: 1170px;
		}

		@media (max-width: 992px) {
				width: 970px;
		}

		@media (max-width: 768px) {
				width: 750px;
		}
	}

	#hgroup {
		@media (max-width: 480px) {
			position: relative;
		}
	}




}

.sticky-menu.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    opacity: 0.7;
    transition: 0.7s all;
    padding-top: 0px;
	padding-bottom: 5px;
	#logo a img {
		width: 80%;
	}
	.menu-below-header {
		margin-top: 5px;

	}
    &:hover {
	    opacity: 1.0;
	    transition: 0.7s all;

    }

}

.sticky-menu.affix .menu-below-header, .sticky-menu.affix-top .menu-below-header {

	@media (max-width: 979px) {
		margin-top: 0;
		padding: 0;
		width: 100%;
	}

	ul#menu-main {
		@media (max-width: 767px) {
			flex-direction: column;
			padding: 0;
			width: 100%;
		}
	}
}

// Header

header {
	@include drop-shadow;

	&.jumbotron {
		padding-top: 10px;
		padding-bottom: 15px;
	}

	#head-wrapper {

		@media (max-width: 767px) and (min-width: 480px) {
			margin: 0;
			max-width: 100%;
			position: relative;
			width: 100%;
		}

		padding: 0px;
	}

}

.navbar .navbar-nav.nav-pills>li>a {
	padding: 12px 8px;
}

// Navigation

nav.menu-above-header {
	@include navy;
	border: none;
	padding: 0;

	.container {
		@media (max-width: 979px) and (min-width: 768px) {
			max-width: 100%;
		}
		padding-left: 0px;
		padding-right: 0px;


		.navbar-header .visible-xs .navbar-left {
			justify-content: flex-end;
		}

		.menu-above {
			width: 100%;
		}
	}

	ul.menu {
		li {
			a {
				text-transform: uppercase;
				font-size: 13px;
				@include fw600;
				color: $white;
				padding: 16px;

				&:hover {
					background-color: $aqua-light;
					color: #333;

				}
			}
		}
	}

	.navbar-nav {
		flex-direction: row;
	}

	ul#menu-upper {
		justify-content: flex-end;
	}
}

.light .jumbotron {
    background-color: #fff;
}

.menu-below-header {

	margin-top: 15px;

	.navbar-nav>li>a {
		color: $aqua-dark;
		text-transform: uppercase;
		font-size: 13px;
		@include fw600;
	    padding: 10px 15px;
	}

	.nav>li>a:hover, .nav>li>a:focus {
	    text-decoration: none;
	    background-color: #eee;
	}

	.navbar {
		margin-bottom: 0;
	    position: relative;
	    min-height: 50px;
	    // margin-bottom: 20px;
	    border: 1px solid transparent;
		padding: .5rem 0;
	}

	.navbar-nav {
		flex-direction: row;
	}

	.navbar-collapse {
	    overflow-x: visible;
	    padding-right: 15px;
	    padding-left: 15px;
	    border-top: 1px solid transparent;
	    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	    -webkit-overflow-scrolling: touch;
	}

	.navbar-static-top {
	    z-index: 1000;
	    border-width: 0 0 1px;
	}

	ul.dropdown-menu {
		@media (max-width: 768px) {
		    background-color: transparent;
		    border: 0;
		    box-shadow: none;
			position: static;
		}

	    border-top-right-radius: 0;
	    border-top-left-radius: 0;
		left: auto;
		margin-top: 0;
		min-width: auto;
		position: absolute;
		right: 0;

		li > a {

			@media (max-width: 979px) and (min-width: 768px) {
				padding: 15px 8px;
			    font-size: 12px;
			}

			display: block;
		    padding: 3px 20px;
		    clear: both;
		    font-weight: normal;
		    line-height: 1.42857;
		    color: #333;
		    white-space: nowrap;
		}
		li>a:hover, li>a:focus {
		    text-decoration: none;
		    color: #262626;
		    background-color: #f5f5f5;
		}
	}
}




@media (min-width: 768px) {
	.navbar-left {
	    float: left !important;
	}
}

@media (min-width: 768px) {
	.navbar-right {
	    float: right !important;
	}
}

@media (min-width: 768px) {
	.navbar-nav.navbar-right:last-child {
	    margin-right: -15px;
	}
}

@media (min-width: 768px) {
	.navbar-nav>li {
	    float: left;
	}
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar .nav.navbar-nav.menu>li:first-child {
    // margin-left: -30px;
}

.nav>li {
    position: relative;
    display: block;
}

@media (min-width: 768px) {
	.navbar {
	    border-radius: 4px;
	}
}


@media (min-width: 768px) {
	.navbar-right {
	    float: right !important;
	}
}

@media (min-width: 768px) {
	.navbar-static-top {
	    border-radius: 0;
	}
}

@media (min-width: 768px) {
	.navbar-collapse {
	    width: auto;
	    border-top: 0;
	    box-shadow: none;
	}
}

@media (min-width: 768px) {
	.navbar-collapse.collapse {
	    display: block !important;
	    height: auto !important;
	    padding-bottom: 0;
	    overflow: visible !important;
	}
}

@media (min-width: 768px) {
	.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	    padding-left: 0;
	    padding-right: 0;
	}
}

button.navbar-toggle {
    float: left;
	background-color: transparent;
	border-width: 0;

	@media (max-width: 767px) {
		position: absolute;
		right: 15px;
		top: 15px;
	}

	span {
		color: #054355;
	}
}

@media (min-width: 768px) {
	.navbar-toggle {
	    display: none;
	}
}
