body.post-template-default,
body.page-template-default {

	header.entry-header.affix,
	header.entry-header.affix-top, {
		box-shadow: 0 0 0;
		margin-bottom: 15px;
	}

	h1.entry-title {
		font-family: 'museo-slab', serif;
	}
}
